body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

#chat-container {
    width: 1000px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color:#000000;
}

#chat-output {
    background-color:#696969;
    height: 700px;
    width:1000px;
    overflow-y: scroll;
    padding: 10px;
}
/*사용자 입력창*/
#user-input {
    display: flex;
    align-items: center;
    padding: 10px;

}

#input-message {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    color: 	#dcdcdc;
    background-color: #000003;
}

button {
    padding: 8px;
    cursor: pointer;
}

.user-message {
    background-color:#dcdcdc;
    padding: 8px;
    margin-bottom: 5px;
}

.gpt-message {
    background-color: #f8f8ff;
    padding: 8px;
    margin-bottom: 5px;
}