<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include url_for('static', filename='meta.html') %}
    <title>도도돋도돋</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/setting.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/plugin.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/template.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/common.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/board.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/article.css') }}"
    />
  </head>
  <body>
    <!-- [S]basic-N1 -->
    {% include url_for('static', filename='header.html') %}
    <main>
      <div class="article-container">
        <div class="article-box">
          <div class="article-header">
            <h2 class="title">{{article["title"]}}</h2>
          </div>
          <div class="article-main">
            <div class="content">{{article["content"]}}</div>
          </div>
          <div class="article-footer">
            <div>작성자 {{article["username"]}}</div>
            <div>작성 시간 {{article["created_at"]}}</div>
            <div>마지막 수정 {{article["updated_at"]}}</div>
          </div>
        </div>
      </div>
    </main>
    {% include url_for('static', filename='footer.html') %}
    <!-- [E]basic-N4 -->
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
