<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include url_for('static', filename='meta.html') %}
    <title>도도돋도돋</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/function.css') }}">
  </head>
<body>
    <!-- [S]basic-N1 -->
    {% include url_for('static', filename='header.html') %}
    <!-- [E]basic-N1 -->
    <main class="th-layout-main">
        <!-- [S]basic-N6 -->

        <div class="basic-N6" data-bid="SiLOY3e52B" >
                <div class="contents-container-fu">
                    <div id="chat-container">
                        <div id="chat-output"></div>
                        <div id="user-input">
                            <input type="text" id="input-message" placeholder="메시지를 입력하세요...">
                            <button onclick="sendMessage()">전송</button>
                        </div>
                    </div>
                    <script src="{{ url_for('static', filename='js/function.js') }}"></script>
                </div>
        <!-- [E]basic-N6 -->
            </div>
    </main>

    <!-- [S]basic-N4 -->
    {% include url_for('static', filename='footer.html') %}
    <!-- [E]basic-N4 -->
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
