<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include url_for('static', filename='meta.html') %}
    <title>도도돋도돋</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="swiper/css">
    <link rel="stylesheet" href="swiper/css/autoplay">
  </head>
  <body>
    <script>
      import Swiper from "swiper"
    import {Autoplay} from "swiper/modules"
      const swiper = new Swiper(".swiper", {
        direction: 'vertical',
        loop: true,
        modules: [Autoplay]
      })
    </script>
    <!-- [S]basic-N1 -->
    {% include url_for('static', filename='header.html') %}
    <!-- [E]basic-N1 -->
    <main class="th-layout-main ">
      <!-- [S]basic-N5 -->
      <div class="basic-N5" data-bid="JFlOy3E51T">
        <div class="contents-container">
          <div class="contents-swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="contents-backimg img-pc" src="static/images/img_mainvisual_01.png" alt="PC 배너 이미지">
                <img class="contents-backimg img-mobile" src="static/images/img_mainvisual_mobile_01.png" alt="모바일 배너 이미지">
                <div class="contents-slide-group container-md">
                  <div class="textset textset-visual">
                    <h2 class="textset-tit" >라이브러리 검색</h2>
                    <p class="textset-desc">
                  </div>
                  <a class="btnset btnset-round" href="{{ url_for('function') }}">이용하기</a>
                </div>
              </div>
              <div class="swiper-slide">
                <img class="contents-backimg img-pc" src="static/images/img_mainvisual_01.png" alt="PC 배너 이미지">
                <img class="contents-backimg img-mobile" src="static/images/img_mainvisual_mobile_01.png" alt="모바일 배너 이미지">
                <div class="contents-slide-group container-md">
                  <div class="textset textset-visual">
                    <h2 class="textset-tit">여러 사용자와 소통하는 게시판</h2>
                  </div>
                  <a class="btnset btnset-round" href="{{ url_for('board') }}">게시판 이용하기</a>
                </div>
              </div>
            </div>
            <div class="contents-control">
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-pause">
                <img src="static/icons/ico_pause_white.svg" alt="스와이퍼 멈춤버튼">
              </div>
              <div class="swiper-button-play">
                <img src="static/icons/ico_play_white.svg" alt="스와이퍼 재생버튼">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- [E]basic-N5 -->
      <!-- [S]basic-N6 -->
      <div class="basic-N6" data-bid="SiLOY3e52B">
        <div class="contents-container container-md">
          <div class="textset">

          </div>
        </div>
      </div>
      <!-- [E]basic-N6 -->
      <!-- [S]basic-N7 -->

    </main>
    <!-- [S]basic-N4 -->
    {% include url_for('static', filename='footer.html') %}
    <!-- [E]basic-N4 -->
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>