<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include url_for('static', filename='meta.html') %}
    <title>도도돋도돋</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/plugin.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
  </head>
  <body>
    <!-- [S]basic-N1 -->
    {% include url_for('static', filename='header.html') %}
    <!-- [E]basic-N1 -->
    <main class="th-layout-main">
      <!-- [S]basic-N6 -->
      <div class="basic-N6" data-bid="SiLOY3e52B">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">기능소개</h2>
            <p class="textset-desc">신뢰성 있는 라이브러리를 검색해보세요.</p>
            <ul>
              <li>GPT API를 활용하여 라이브러리를 검색할 수 있습니다.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="basic-N6" data-bid="mainPage">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">웹 메인화면</h2>
            <p class="textset-desc">여러 기능들을 손쉽게 이용할 수 있는 웹 사이트입니다.</p>
            <ul>
              <li>메인 화면에는 다양한 메뉴가 표출됩니다.</li>
              <li>로고를 클릭하면 메인 페이지로 이동합니다.</li>
              <li>홈페이지 소개 클릭 시 홈페이지 소개 페이지로 이동합니다.</li>
              <li>게시판 및 라이브러리 검색 클릭 시 로그인후 사용을 할수있기 때문에 로그인 페이지로 이동합니다.</li>
              <li>로그인 클릭 시 로그인 페이지로 이동합니다.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="basic-N6" data-bid="boardPage">
        <div class="contents-container container-md">
          <div class="textset">
            <h2 class="textset-tit">게시판</h2>
            <p class="textset-desc">사용자 간에 소통하고 정보를 공유하세요.</p>
            <ul>
              <li>글 작성 시 제목, 내용, 사용자 ID, 작성일시가 저장됩니다.</li>
              <li>글 삭제 시 해당 글 정보가 삭제됩니다.</li>
            </ul>
          </div>
        </div>
      </div>
    </main>

    <!-- [S]basic-N4 -->
    {% include url_for('static', filename='footer.html') %}
    <!-- [E]basic-N4 -->
    <script src="{{ url_for('static', filename='js/setting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plugin.js') }}"></script>
    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
